<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>mail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
</head>

<body class="bg-light">
<!--<div th:replace="fragments.html :: main-nav"></div>-->
<div class="container">
    <div class="py-5 text-center">
        <h2>맴버별 상세</h2>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <img src="images/사쿠라.jpeg" class="card-img-top" alt="..." width="200" height="200">
            <hr/>
            <button type="button" class="btn btn-light" id="btn-mailConfirm">메일 확인</button>
        </div>

        <div class="col-6">
            <div class="row">
                <h3 class="col-sm-10" id="memberName">사쿠라</h3>
                <button type="button" id="btn-result" disabled style="display: none"></button>
            </div>
            <hr/>
            <div class="card">
                <div class="card-body">
                    <!--                    <h4 class="card-title" th:text="${bookReview.title}"></h4>-->
                    <!--                    <hr class="my-4">-->
                    <!--                    <p class="card-text" th:utext="${bookReview.content}"></p>-->
                    <!--                    <hr class="my-4">-->
                    <!--                    <p class="card-text">-->
                    <!--                        <small class="text-muted">-->
                    <!--                            <i class="fas fa-clock"></i>-->
                    <!--                            <span class="date" th:text="${'수정일: '+bookReview.modifiedDate}">9 mins</span>-->
                    <!--                        </small>-->
                    <!--                    </p>-->
                    <!--                    <div class="text-center" th:if="${isOwner}">-->
                    <!--                        <button class="btn btn-success" type="button" th:if="${!bookReview.open}" th:href="@{'/bookReview/open/'+${bookReview.id}}" th:id="${bookReview.id}" onclick="bookReview.open(this.id)">공개</button>-->
                    <!--                        <button class="btn btn-success" type="button" th:if="${bookReview.open}" th:href="@{'/bookReview/close/'+${bookReview.id}}" th:id="${bookReview.id}" onclick="bookReview.close(this.id)">비공개</button>-->
                    <!--                        <a class="btn btn-primary" th:href="@{'/bookReview/update/'+${bookReview.id}}" role="button">수정</a>-->
                    <!--                        <a class="btn btn-danger" th:href="@{'/bookReview/delete/'+${bookReview.id}}" role="button">삭제</a>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
    </div>

</div><br><br>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>