<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
</head>

<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">
        <h2>IZ*ONE</h2>
    </div>
    <div class="row justify-content-center pt-3">

        <div class="col-sm-2">
            <div class="card mb-4 shadow-sm">
                <a href="/memberInfo/eunbi">
                    <img src="images/권은비.jpeg" class="card-img-top" alt="..." width="200" height="200">
                </a>
                <div class="card-body">
                    <p class="card-text">권은비</p>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <a href="/memberInfo/minju">
                    <img src="images/김민주.jpeg" class="card-img-top" alt="..." width="200" height="200">
                </a>
                <div class="card-body">
                    <p class="card-text">김민주</p>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mb-4 shadow-sm">
                <a href="/memberInfo/sakura">
                    <img src="images/사쿠라.jpeg" class="card-img-top" alt="..." width="200" height="200">
                </a>
                <div class="card-body">
                    <p class="card-text">사쿠라</p>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <a href="/memberInfo/nako">
                    <img src="images/나코.jpeg" class="card-img-top" alt="..." width="200" height="200">
                </a>
                <div class="card-body">
                    <p class="card-text">나코</p>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mb-4 shadow-sm">
                <a href="/memberInfo/hyewon">
                    <img src="images/강혜원.jpeg" class="card-img-top" alt="..." width="200" height="200">
                </a>
                <div class="card-body">
                    <p class="card-text">강혜원</p>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <a href="/memberInfo/hitomi">
                    <img src="images/히토미.jpeg" class="card-img-top" alt="..." width="200" height="200">
                </a>
                <div class="card-body">
                    <p class="card-text">히토미</p>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mb-4 shadow-sm">
                <a href="/memberInfo/yena">
                    <img src="images/최예나.jpeg" class="card-img-top" alt="..." width="200" height="200">
                </a>
                <div class="card-body">
                    <p class="card-text">최예나</p>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <a href="/memberInfo/yuri">
                    <img src="images/조유리.jpeg" class="card-img-top" alt="..." width="200" height="200">
                </a>
                <div class="card-body">
                    <p class="card-text">조유리</p>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mb-4 shadow-sm">
                <a href="/memberInfo/chaeyeon">
                    <img src="images/이채연.jpeg" class="card-img-top" alt="..." width="200" height="200">
                </a>
                <div class="card-body">
                    <p class="card-text">이채연</p>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <a href="/memberInfo/yujin">
                    <img src="images/안유진.jpeg" class="card-img-top" alt="..." width="200" height="200">
                </a>
                <div class="card-body">
                    <p class="card-text">안유진</p>
                </div>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="card mb-4 shadow-sm">
                <a href="/memberInfo/chaewon">
                    <img src="images/김채원.jpeg" class="card-img-top" alt="..." width="200" height="200">
                </a>
                <div class="card-body">
                    <p class="card-text">김채원</p>
                </div>
            </div>
            <div class="card mb-4 shadow-sm">
                <a href="/memberInfo/wonyoung">
                    <img src="images/장원영.jpeg" class="card-img-top" alt="..." width="200" height="200">
                </a>
                <div class="card-body">
                    <p class="card-text">장원영</p>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>